@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.landing-page{
  background-image: url('https://i.imgur.com/lGI9a7U.png') !important;
  /* background-size: cover !important; */
  /* background-size: 100% 100% */
  text-align: center;
  height: 1000px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  margin: auto;
  padding: 0
}


