@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.landing-page{
  background-image: url('https://i.imgur.com/lGI9a7U.png') !important;
  /* background-size: cover !important; */
  /* background-size: 100% 100% */
  /* text-align: center;
  height: 1000px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  margin: auto;
  padding: 0 */
  position: fixed; 
  top: 0; 
  left: 0; 
  
  z-index:-1;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/* Events */

.upcoming-events{
    /* display: flex; */
    /* border: 1px solid rgb(101, 134, 244);
    padding: 3px;
    border-radius: 4px; */
    /* height: 32.3em; */
}

.ue-title{
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid teal;
}

/* UserProfile */
.up-background{
 
  background-image: linear-gradient(to bottom right, rgba(118, 213, 213, 0.94), rgb(255, 255, 255));
  position: fixed; 
  top: 0; 
  left: 0; 
  
  z-index:-1;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.border{
  border-right: 1px solid rgb(0, 0, 0);
}
.border-top{
 border-top: 1px solid rgb(0, 0, 0);
 padding-top: 1em;
 padding-bottom: 1em;
}

.up-box{
    border: 1px solid teal;
    border-radius: 4px; 
}

.up-box div{
  padding: 0px 0px;
}

.user-image{
  width:200px;
  height: 200px;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.up-title{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(25, 25, 26, 0.838);
  width: 30em;
}
.up-title-details{
  text-shadow: 2px 2px 7px rgba(24, 24, 24, 0.653)
}


a{
  color: black
}

a:hover{
  color: rgb(4, 208, 208)
}

.up-container{
  font-size: large;
  margin-left: 1em;
  margin-right: 1em;
}

/* Groups */

.groups-page {
  margin: 3em
}

.group-search {
  padding-bottom: 5em;
}

.groups-page-title {
  font-size: 50px;
}

.groups-image {
  height: 300px
}

.group-show-title {
  font-size: 30px;
  margin-top: 1em;
  text-align: center;
}

.group-show-location {
  text-align: center;
  margin-top: 8px;
}